# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Environment variables
.env
.env.*

# Git
.git
.gitignore

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Cache
.pytest_cache/
.mypy_cache/
